{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="FscVideo" />

    <f:section name="content">
        <f:for each="{files}" as="file" iteration='i'>
            <v:if stack="{
                  0: '{video.autoplay}', 1: '==', 2: '1',
                  3: 'OR', 4: '{video.extension}', 5: '==', 6: 'mp4',
                  7: 'OR', 8: '{video.extension}', 9: '==', 10: 'webm'
                  }">   

                <f:then>
                    <div class="c1-fsc-video direct">
                        <f:media file="{file}"></f:media>
                    </div>
                </f:then>
                <f:else>
                    <div id="c{data.uid}" class="c1-fsc-video" data-autoplay="{video.autoplay}" data-provider="{video.extension}" data-videoid="{video.id}" style="padding-bottom: {video.aspectRatio}%">
                        <f:media 
                            file="{video.preview.file}"
                            class="fsc-image-responsive"
                            width="{video.preview.width}" />
                        <div id="c{data.uid}-player" class="video-player"></div>
                        <a class="fsc-video-play"><span class="fsc-video-play-text sr-only">PLAY</span></a>
                        <f:render section="videoType" arguments="{_all}"></f:render>
                    </div>
                </f:else>
            </v:if>
        </f:for>
        <v:asset.script path="{f:uri.resource(path: 'Javascript/responsive-video.js', extensionName:'c1_fsc_video')}" />
        <v:asset.style path="{f:uri.resource(path: 'Style/responsive-video.css', extensionName:'c1_fsc_video')}" />
    </f:section>

    <f:section name="videoType">
        <f:if condition="{video.extension} == 'youtube">
            <f:render section="videoYouTube" arguments="{_all}" />
        </f:if>
        <f:if condition="{video.extension} == 'vimeo">
            <f:render section="videoVimeo" arguments="{_all}" />
        </f:if>

    </f:section>

    <f:section name="videoYouTube">
        <v:asset.script path="https://www.youtube.com/iframe_api" external="1" name="yt_iframe_api" overwrite="0" standalone="1"/>
    </f:section>
    
    <f:section name="videoVimeo">
        <v:asset.script path="https://f.vimeocdn.com/js/froogaloop2.min.js" external="1" name="froogaloop" overwrite="0" standalone="1"/>
    </f:section>
    
    <f:section name="media">
        <f:media
            file="{media}"
            width="{media.width}"
            height="{media.height}"
            alt="{media.alternative}"
            title="{media.title}"
            />
    </f:section>
</html>