<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="FscVideo"/>

<f:section name="content">
    <f:for each="{files}" as="file" iteration='i'>
        <f:if condition="{video.autoplay} == 1 || {video.extension} == 'mp4' || {video.extension} == 'webm'">
            <f:then>
                <div class="c1-fsc-video direct">
                    <f:media file="{file}"></f:media>
                </div>
            </f:then>
            <f:else>
                <div id="c{data.uid}" class="c1-fsc-video" data-autoplay="{video.autoplay}"
                     data-provider="{video.extension}" data-videoid="{video.id}"
                     style="padding-bottom: {video.aspectRatio}%">
                    <f:media
                            file="{video.preview.file}"
                            class="img-responsive"
                            width="{video.preview.width}"/>
                    <div id="c{data.uid}-player" class="video-player"></div>
                    <a class="fsc-video-play"><span class="fsc-video-play-text sr-only">PLAY</span></a>

                    <f:if condition="{video.extension} == 'youtube' || {video.extension} == 'vimeo'">
                        <f:render partial="LegalInfo" arguments="{settings: settings, video: video}" />
                    </f:if>
                </div>
            </f:else>
        </f:if>
        <f:if condition="video.description">
            <div class="c1-fsc-video-desc">{video.description}</div>
        </f:if>
    </f:for>
    <f:asset.script identifier="c1fscvideo"
                    src="EXT:c1_fsc_video/Resources/Public/JavaScript/responsive-video.js"/>
    <f:asset.css identifier="c1fscvideo"
                   href="EXT:c1_fsc_video/Resources/Public/Style/responsive-video.css"/>
</f:section>

<f:section name="media">
    <f:media
            file="{media}"
            width="{media.width}"
            height="{media.height}"
            alt="{media.alternative}"
            title="{media.title}"
    />
</f:section>
</html>
